body{
	font-family: 'Chivo', Arial, sans-serif;
	font-weight: 300;
	margin: 0;
	display: flex;
	align-items: stretch;
}
h1{
	margin-bottom: 0;
}
h1 span {
	color: #ffca0a;
}
h2{
	font-weight: 900;
}
h1, h2{
	text-transform: uppercase;
}
h2 i{
	margin-right: 2%;
}
aside{
	width: 30%;
	background-color: #ffca0a;
	padding: 0;
}
aside h2, footer h2{
	background-color: #4a3d35;
	color: #ffca0a;
	text-align: center;
	margin: 0;
}
aside img{
		border-radius: 50%;
    display: block;
    padding: 10%;
    margin: 0 auto;
}
aside p{
	text-align: justify;
	margin: 10%;
}
main{
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
}
main h2{
	border-bottom: solid #ffca0a;
}
main i{
	color:#ffca0a;
}
header{
	padding-top: 15%;
	padding-bottom: 15%;
}
header p{
	margin-top: initial;
}
footer{
	margin-top: 100%;
}
footer i{
	border: solid black;
	border-radius: 50%;
	width: 87px;
	height: 76px;
	text-align: center;
	padding-top: 14px;
	margin-top: 10%;
}
address{
	font-style: normal;
	margin: 10%;
}
ul{
	list-style:none;
	margin-top:0;
	padding-left:0;
}
.col-icon{
	width: 5%;
}
.col-prm{
	width: 25%;
	font-weight: 400;
}
.col-scd{
	width: 50%;
	text-transform: uppercase;
	font-weight: 700;
}
.ville{
	font-weight: 400;
}
#souligne{
	border-bottom: solid #ffca0a;
}
.loisirs{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.rec{
	width: 100%;
	padding-bottom: 100%;
}
