html {
	background-color: black;
}
body{
	background-color: white;
	font-family: 'Chivo', Arial, sans-serif;
	font-weight: 300;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap ;
}
h1{
	font-size: 3em;
	color: #ffca0a;
	margin: 0;
}
h1 span {
	color: #000000;
}
h2{
	font-weight: 900;
}
h1, h2{
	text-transform: uppercase;
}
h2 i{
	padding-right: 2%;
}
/*______________________________________*/
/* header : Avatar - Identité : Prénom NOM - Métier --> */
/*______________________________________*/
header{
	margin: 0;
	display: flex;
	flex : 1 100% ;
}
header img{
	border-radius: 50%;
	width: 10em;
	height: 10em;
	margin: 5% auto;
	display: flex;
	align-content: center;
}
header p{
	margin-top: 1%;
}
/*______________________________________*/
/* Partie présentation générale : Parite gauche */
/*______________________________________*/
aside{
	background-color: #ffca0a;
	width: 30%;
	display: flex;
	flex-direction: column;
}
aside h2, footer h2{
	background-color: #4a3d35;
	color: #ffca0a;
	text-align: center;
	padding: 6px;
}
aside p{
	text-align: justify;
	margin: 10%;
}
address{
	font-style: normal;
	margin: 10%;
}
address li{
	padding-top: 5%;
}
footer{
	margin-top: auto;
}
footer i{
	border: solid black;
	border-radius: 50%;
	text-align: center;
	width: 79px;
	height: 66px;
	padding-top: 14px;
	margin-top: 7%;
}
/*______________________________________*/
/* Formation et Expériences : Partie droite */
/*______________________________________*/
main{
	flex: 1 1;
	padding-left: 5%;
	padding-right: 5%;
}
main h2{
	border-bottom: solid #ffca0a;
}
main i{
	color:#ffca0a;
}
ul{
	list-style:none;
	margin-top:0;
	padding-left:0;
}
/*______________________________________*/
#souligne{
	border-bottom: solid #ffca0a;
}
/*______________________________________*/
/* Avatar */
.avatar{
	flex: 0 30%;
	background-color: #ffca0a;
}
/* Prénom NOM - Métier */
.identite{
	width: 65%;
	padding-top: 5%;
	padding-left: 5%;
}
/* footer : div Loisirs */
.loisirs{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3%;
}
/* partie droite : Main - Formation et Expérience */
.detail{
	display: flex;
	flex-wrap: wrap;
}
.col-icon{
	width: 5%;
}
.annee{
	font-weight: 400;
	width: 30%;
	padding-right: 5%;
	margin-bottom: 0;
}
.societe{
	font-weight: 400;
	text-transform: uppercase;
	width: 60%;
	margin-bottom: 0;
}
.ville{
	font-weight: 400;
	width: 30%;
	margin-left: 5%;
	margin-top: 0;
	padding-right: 5%;
}
.poste{
	width: 60%;
	margin-top: 0;
}
.description{
	margin-left: 40%;
}
.description p{
	margin-bottom: 0;
}
/* Main : Recommendations */
.recs{
	width: 100%;
	padding-bottom: 2%;
	display: flex;
}
.rec{
	width: 45%;
}
/*______________________________________*/
/* Tablette */
/*______________________________________*/
@media (max-width: 1024px) {
	body{
		width: 100%;
	}
	h1{
		font-size: 2em;
		padding-top: 1em;
	}
	h1 span{
		white-space: nowrap;
	}
	aside{
		width: 100%;
	}
	aside p{
		margin: 2% 10%;
	}
	address{
		margin: 2% 10%;
	}
	address ul{
		display: flex;
		flex-wrap: wrap;
	}
	address li{
		padding-top: 2%;
		padding-right: 2%;
		width: 30%;
	}
	address li:nth-of-type(3){
		order:3;
	}
	footer i{
		margin-top:auto;
	}
	main{
		padding: 1%;
	}
	/*______________________________________*/
/*Avatar*/
	.avatar{
		background-color: #ffffff;
	}
	/* Header presentation */
	.identite{
		padding-left: 5%;
	}
}
/*______________________________________*/
/* Smartphone */
/*______________________________________*/
@media (max-width: 600px) {
	html{
		background-color: white;
	}
	body{
		font-size: 13px;
	}
	h1{
		padding: 0;
	}
	h2{
		font-size: 1em;
		text-align: center;
		padding-bottom: 1%;
	}
	header{
		width: 100%;
		display: inline;
	}
	address ul{
		text-align: center;
	}
	address li{
		width: 100%;
	}
	main{
		padding-right: 5%;
		padding-left: 5%;
	}
	main article p{
		margin: 6px auto;
	}
	/*______________________________________*/
	/* Header presentation */
	.identite{
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
	/* Main : Framtion & Expériences */
	.detail{
		display: inline;
	}
	.col-icon i{
			display: none;
	}
	.annee{
		text-align: center;
		width: 100%;
	}
	.societe{
		text-align: center;
		width: 100%;
	}
	.ville{
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
	.poste{
		text-align: center;
		width: 100%;
	}
	.description{
		width: 90%;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-left: 5%;
	}
	/* Main : recommandations */
	.recs{
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		align-items:center;
	}
	.rec{
		text-align: center;
		width: 100%;
		margin-bottom: 2%;
	}
}
