body{
	font-family: 'Chivo', Arial, sans-serif;
	margin: 0;
}
header{
	padding-left: 35%;
}
h1 span {
	color: #ffca0a;
}
h2{
	font-weight: bold;
}
h1, h2{
	text-transform: uppercase;
}
aside, footer{
	width: 35%;
	background-color: #ffca0a;
	padding: 0;
}
aside h2, footer h2{
	background-color: #4a3d35;
	color: #ffca0a;
	text-align: center;
	margin: 0;
}
aside img{
	border-radius: 50%;
	display: block;
	text-align: center;
	padding: 10%;
}
aside p{
	text-align: justify;
	margin: 10%;
}
main{
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
}
main h2{
	border-bottom: solid #ffca0a;
}
main i{
	color:#ffca0a;
}
footer i{
	border: solid black;
	border-radius: 50%;
}
address{
	font-style: normal;
	margin: 10%;
}
ul{
	list-style:none;
	margin-top:0;
	padding-left:0;
}
#souligne{
	border-bottom: solid #ffca0a;
}
.container{
	display: flex;
	align-items: stretch;
}
.loisirs{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
